<form role="form" class="col-sm-8" ng-controller="LoginController as login">
	<h3>Login</h3>
	<div class="form-group">
		<label for="username">Username: </label>
		<input type="text" id="username" placeholder="User name" class="form-control" ng-model="login.userName">
	</div>
	<div class="form-group">
		<label for="password">Password: </label>
		<input type="password" id="password" placeholder="Password" class="form-control" ng-model="login.password">
	</div>
	<button type="button" id="login" class="btn btn-sm btn-primary" ng-click="login.submitLogin()">Login</button>
</form>
