<link href='styles/edit-employees.css' type='text/css' rel='stylesheet'>
<div class='employee-list-cont'>
	<h2>Current Employees</h2>
	<ul class='employees-list'>
	</ul>
</div>
<div class='employee-weights'>
	<h2>Your Preferences</h2>
	<p>Priority of employee's preferences</p>
	<p><input type="range" id="emp-priority"><span id='priority-val'></span></p>
	<p>Cap hours of employee <input type=checkbox id="cap-true"</p>
	<p> <input type="range" id="emp-hours-cap"><span id='hours-val'></span></p>
	<p>Full time(Ensure full-time hours) <input type=checkbox id="full-time"></p>
</div>
<div class='employee-control'>
	<h2>Manage employees</h2>
	<p>
		<button type='button' id='remove-employee'>Remove</button>
		<button type='button' id='edit-employee'>Update</button>
	</p>
	<div class='employee-info'>
		<p>Name: <span class='employee-name'></span></p>
		<p>Role: <span class='employee-role'></span></p>
	</div>
</div>
<script src='scripts/edit-employees.js'></script>