
<link href='styles/edit-schedule.css' rel='stylesheet' type='text/css'>
<link href='../Calendar/schedule-creator.css' rel='stylesheet' type='text/css'>
<div class='edit-schedule'>
	<label for='select-schedule'>Select schedule</label>
	<select id='select-schedule'>
	</select>
	<p><button type='button' id='delete-schedule'>Delete</button></p>
	<div class='employee-container'>
		<div class='scheduled-employees'>
		</div>
		<div class='available-employees'>
		</div>
	</div>
<div class='submit-container'>
	<p>
		<button id="submit-changes">Submit</button>
		<button id="cancel-changes">Cancel</button>
	</p>
</div>
<div class='filter-container'>
	<p>
		<select class='filter-select'></select>
		<input type='range' id='first-filter'>
	</p>
<!--	<p>
		<select class='filter-select'></select>
		<input type='range' id='second-filter'>
	</p>
	<p>
		<select class='filter-select'></select>
		<input type='range' id='third-filter'>
	</p>
	<p>
		<select class='filter-select'></select>
		<input type='range' id='fourth-filter'>
	</p>-->
</div>
</div>
<div class='shift-schedule'>
<div class='day-names'>
	</div>
	<div class='calendar'>
	</div>
</div>

<script src='../Calendar/schedule-creator.js'></script>
<script src='scripts/edit-schedule.js'></script>