<link href='styles/hours.css' rel='stylesheet' type='text/css'> 
<div class='edit-hours'>
<ul class='days-list'>
	<li class='sunday'>
	<p>
		<label for='sunday-start'>Sunday: </label>
		<input type='time' class='start-time' name='sunday-start'> 
		<input type='time' class='end-time'>
	</p>
	</li>
	<li class='monday'>
	<p>
		<label for='monday-start'>Monday: </label>
		<input type='time' class='start-time' name='monday-start'>
		<input type='time' class='end-time'>
	</p>
	</li>
	<li class='tuesday'>
	<p>
		<label for='tuesday-start'>Tuesday: </label>
		<input type='time' class='start-time' name='tuesday-start'>
		<input type='time' class='end-time'>
	</p>
	</li>
	<li class='wednesday'>
	<p>
		<label for='wednesday-start'>Wednesday: </label>
		<input type='time' class='start-time' name='wednesday-start'>
		<input type='time' class='end-time'>
	</p>
	</li>
	<li class='thursday'>
	<p>
		<label for='thursday-start'>Thursday: </label>
		<input type='time' class='start-time' name='thursday-start'>
		<input type='time' class='end-time'>
	</p>
	</li>
	<li class='friday'>
	<p>
		<label for='friday-start'>Friday: </label>
		<input type='time' class='start-time' name='friday-start'>
		<input type='time' class='end-time'>
	</p>
	</li>
	<li class='saturday'>
	<p>
		<label for='saturday-start'>Saturday: </label>
		<input type='time' class='start-time' name='saturday-start'>
		<input type='time' class='end-time'>
	</p>
	</li>
</ul>
<div class='hours-control'>
		<button type='button' id='submit-hours'>Submit</button>
		<button type='button' id='cancel-hours'>Cancel</button>
</div>
</div>
<script src='scripts/hours.js'></script>