<link href='styles/shift-control.css' rel='stylesheet' type='text/css'>
<link href='../Calendar/schedule-creator.css' rel='stylesheet' type='text/css'>
<div class='shift-schedule'>
	<div class='day-names'>
	</div>
	<div class='calendar'>
	</div>
</div>
<div class='shift-control'>
	<h2>Manage Shifts</h2>
	<div class='shift-buttons'>
		<button type='button' id='add-shift'>Add Shift</button>
		<button type='button' id='remove-shift'>Remove Shift</button>
		<button type='button' id='edit-shift'>Edit Shift</button>
	</div>
	<div class='shift-edit'>
		<p class='shift-name'>
			<label for='new-shift'>Shift: </label>
			<input type='text' placeholder='Shift name' id='shift-name'>
		</p>
		<p class='shift-roles'>
			<label for='roles-select'>Add Role: </label>
			<select class='roles-select' id='roles-select'></select>
			<button type='button' class='add-role'>Add</button>
		</p>
		<p>Roles on Shift:</p>
		<ul class='working-roles'>
		</ul>
		<p>
			<label for='day-select'>Day: </label>
			<select class='day-select' size='1'></select>
		</p>
		<p class='shift-time'>
			<label for='start-time'>Start Time: </label>
			<input type='time' id='start-time'>
		</p>
		<p class='shift-time'>
			<label for='end-time'>End Time: </label>
			<input type='time' id='end-time'>
		</p>
		<p>
			<button id='submit-shift'>Submit</button>
			<button id='cancel-submit'>Cancel</button>
	</div>
</div>
<script src='scripts/shifts.js'></script>
<script src="../Calendar/schedule-creator.js"></script>

