.day-names{
	margin: 0 auto;
	text-align: center;
}

.day-name ~ a {
	color: black;
	text-decoration: none;
}

.day-name{
	display: inline-block;
	width: 12%;
	text-align: center;
	color: black;
	padding: 1px; /* since columns have 1px border*/
}

.calendar {
	position: relative;
	text-align: center;
	margin: 0;
}

.times {
	position: relative;
	display: inline-block;
	width: 12%;
	text-align: center;
	border: 1px solid black;
	vertical-align: top;
	height: 75vh;
}

.shift {
	position: absolute;
	width: 100%;
	overflow: hidden;
	border: 1px solid white;
	background-color: maroon;
	color: white;
	opacity: .8;
}

.shift.selected{
	z-index: 1;
	background-color: #B84C4C;
	opacity: 1;
}

.shift p {
	color: white;
}

.shift ul {
	overflow: auto;
}

.day{
	width: 12%;
	display: inline-block;
	position: relative;
	border: 1px solid black;
	height: 75vh;
	vertical-align: top;
}