label {
	width: 100px;
	display: inline-block;
	text-align: right;
}

input {
	padding: 5px;
	font-size: 1em;
}

p {
	font-size: 1em;
}

button {
	padding: 7px;
	width: 100px;
	font-size: .8em;
	color: white;
	background: maroon;
	border: none;
}