<link href='styles/roles.css' type='text/css' rel='stylesheet'>
<div class='roles'>
	<h2>Current roles in your business</h2>
	<ul class='roles-list'>
	</ul>
</div>
<div class='role-control'>
	<h2>Add new role</h2>
		<p>
		<label for='new-role'>Role: </label>
		<input type='text' placeholder='Role name' id='role-name'>
		</p>
		<p>
		<button type='button' id='add-role'>Add Role</button>
		<button type='button' id='remove-role'>Remove Role</button>
		<button type='button' id='edit-role'>Edit Role</button>
		</p>
</div>
<script src='scripts/roles.js'></script>