<div ng-controller="SignUpController as signUpCtrl">
	<h3>Sign Up</h3>
	<form name="signUpForm" class="form-horizontal" novalidate>
		<div class="form-group">
			<label for="firstName" class="control-label col-xs-1">Name:</label>
			<div class="col-xs-5">
				<input blur-error type="text" class="form-control" 
					placeholder="First Game" name="firstName" id="firstName"
					ng-model="signUpCtrl.firstName" required="true"/>
			</div>
			<div class="col-xs-5">
				<input blur-error type="text" class="form-control"
					placeholder="Last Name" name="lastName"
					ng-model="signUpCtrl.lastName"/>
			</div>
		</div>
		<div class="form-group">
			<label for="userName" class="control-label col-xs-1">User Name:</label>
			<div class="col-xs-10">
				<input blur-error type="text" class="form-control"
					placeholder="User Name" name="userName" id="userName"
					ng-model="signUpCtrl.userName"/>
			</div>
		</div>
		<div class="form-group" novalidate>
			<label for="password" class="control-label col-xs-1">Password:</label>
			<div class="col-xs-10">
				<input blur-error type="password" class="form-control"
					placeholder="Password" name="password" id="password"
					ng-model="signUpCtrl.password" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-1 col-xs-10">
				<button type="button" ng-click="signUpCtrl.submitUserSignUp()" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
</div>
