.edit-schedule {
	display: inline-block;
	vertical-align: top;
	width: 29%;
	position: relative;
	height: 80vh;

}

.filter-container {
	position: absolute;
	bottom: 0;
}

.scheduled-employees div {
	margin-bottom: 4vh;
	min-height: 10vh;
}

.shift-schedule {
	display: inline-block;
	vertical-align: top;
	width: 70%;
}

li {
	padding: 1vh 0;
	position: relative;
}



li > p {
	display: inline-block;
	color: black;
}

li > button {
	height: 100%;
	right: 0;
	position: absolute;
	top: 0;
}

.edit-schedule label {
	width: 100px;
}