.employee-list-cont {
	display: inline-block;
	height: 70vh;
	overflow: hidden;
	margin-right: 3%;
}

.employees-list {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

.employee-weights span {
	padding: 5px;
	margin-left: 4%;
	font-size: 1em;	
}

.employee-weights {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-right: 5%;
}

.employees ul a {
	color: black;
	text-decoration: none;
}

.employee-control {
	display: inline-block;
	vertical-align: top;
}
