<link href='styles/availability-control.css' rel='stylesheet' type='text/css'>
<link href='../Calendar/schedule-creator.css' rel='stylesheet' type='text/css'>
<div class='availability-schedule'>
	<div class='day-names'>
	</div>
	<div class='calendar'>
	</div>
</div>
<div class='availability-control'>
	<h2>Manage Hours</h2>
	<div class='hours-edit'>
		<p>
			<label for='preferred-hours'>Prefered hours:</label>
			<input id='preferred-hours'>
		</p>
		<p>
			<label for='max-hours'>Max hours:</label>
			<input id='max-hours'>
		</p>
		<p>
			<button id='update-hours'>Update</button>
			<button id='reset-hours'>Reset</button>
	</div>
	<h2>Manage Availability</h2>
	<div class='availability-buttons'>
		<button type='button' id='add-availability'>Add</button>
		<button type='button' id='remove-availability'>Remove</button>
		<button type='button' id='edit-availability'>Edit</button>
	</div>
	<div class='availability-edit'>
		<p>
			<label for='day-select'>Day: </label>
			<select class='day-select' size='1'></select>
		</p>
		<p class='shift-time'>
			<label for='start-time'>Start Time: </label>
			<input type='time' id='start-time'>
		</p>
		<p class='shift-time'>
			<label for='end-time'>End Time: </label>
			<input type='time' id='end-time'>
		</p>
		<p>
			<button id='submit'>Submit</button>
			<button id='cancel'>Reset</button>
	</div>
</div>
	<script src="../Calendar/schedule-creator.js"></script>
	<script src="scripts/employee-availability.js"></script>

</div>

