.availability-schedule{
	display: inline-block;
	vertical-align: top;
	width: 70%;
}

.availability-control {
	display: inline-block;
	vertical-align: top;
	width: 29%;
}

.availability-edit {
	display: none;
}

.availability-edit p {
	margin-top: 1vh;
}

.availability-buttons {
	margin-top: 1vh;
	margin-bottom: 2vh;
}
.availability-buttons button {
	
	width: 30%;
}

label {
	width: 35%;
}

.availability-control .ui-spinner {
	width: 20%;
}





