* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0 auto;
	background-color: rgb(230, 240, 255);
	font-size: 100%;
	font-family: sans-serif;
	width: 80%;
	height: 100%;
}

header {
	overflow: auto;
	/*floated elements don't have size, so div holding them
	only floated elements would have size 0 unless overflow
	to auto*/
	border-bottom: 1px solid rgb(100, 25, 25);
}

/*nav bar*/

nav ul{
	padding-top: 5px;
	list-style-type: none;
	overflow: hidden;
	clear: both;
}

nav li {
	float: left; /*will line up horizontally in list, but links will still take up space*/

}

nav a:link, a:visited {
	display: block;
	text-decoration: none;
	background-color: maroon;
	color: white;
	font-size: 1.5em;
	padding: 10px 20px;
	text-transform: uppercase;
	border: 1px solid white;
}

nav a:hover {
	background-color: #B84C4C;
}



h1 {
	float: left;
	color: maroon;
}

header p {
	float: right;
	width: 400px;
	margin-top: 10px;
	color: maroon;
}

main {
/*	overflow: auto;
	display: block;
	padding: 25px 0;
	min-height: 80%;

	padding with two values is top/bottom sides
	border-bottom: 1px solid rgb(100, 25, 25);*/



}

